$black: #232323;
$background: #ffdf8c;
$gray-line: #f6f6f6;
$orange: #fe5f1e;

$container-width: 90%;

$duration: 0.15s;

.container--cart{
    padding-top: 50px;
    min-height: 80vh;
}

.button {
    display: inline-block;
    background-color: $orange;
    border-radius: 30px;
    padding: 10px 20px;
    min-width: 100px;
    text-align: center;
    cursor: pointer;
    transition: background-color $duration ease-in-out, border-color $duration ease-in-out;
    border: 1px solid transparent;
  
    &,
    span {
      color: #fff;
    }
  
    i,
    span,
    path,
    svg {
      transition: all $duration ease-in-out;
    }
  
    &:hover {
      background-color: darken($orange, 8%);
    }
  
    &:active {
      background-color: darken($orange, 12%);
      transform: translateY(1px);
    }
  
    &--circle {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      min-width: 32px;
      padding: 0;
      border-width: 2px;
    }
  
    &--black {
      background-color: $black;
  
      &:hover,
      &:active {
        background-color: lighten($color: $black, $amount: 10);
      }
    }
  
    &--outline {
      background-color: #fff;
      border-color: $orange;
      &,
      span {
        color: $orange;
      }
  
      svg {
        path {
          fill: $orange;
        }
      }
  
      &:hover {
        background-color: $orange;
  
        &,
        span {
          color: #fff;
        }
  
        svg {
          path {
            fill: #fff;
          }
        }
      }
  
      &:active {
        background-color: darken($orange, 8%);
      }
    }
  
    &__delimiter {
      width: 1px;
      height: 25px;
      background-color: rgba(255, 255, 255, 0.25);
      margin-left: 14px;
      margin-right: 14px;
    }
  
    &--add {
      svg {
        margin-right: 2px;
      }
  
      span {
        font-weight: 600;
        font-size: 16px;
      }
  
      &:hover {
        i {
          background-color: #fff;
          color: $orange;
        }
      }
  
      i {
        display: inline-block;
        border-radius: 30px;
        background-color: $orange;
        color: #fff;
        font-weight: 600;
        width: 22px;
        height: 22px;
        font-style: normal;
        font-size: 13px;
        line-height: 22px;
        position: relative;
        top: -1px;
        left: 3px;
      }
    }
  
    &--cart {
      display: flex;
      align-items: center;
      line-height: 23px;
      padding: 12px 25px;
  
      svg {
        margin-right: 8px;
        margin-bottom: 1px;
      }
  
      span {
        font-weight: 600;
        font-size: 16px;
      }
    }
  }
  

.cart {
  -webkit-box-shadow: 2px 3px 16px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 3px 16px -1px rgba(0,0,0,0.75);
  box-shadow: 2px 3px 16px -1px rgba(0,0,0,0.75);
  padding: 50px;
    &__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    & .content__items {
      display: block !important;
    }
  
    .content__title {
      display: flex;
      align-items: center;
      font-size: 32px;
  
      svg {
        position: relative;
        top: -2px;
        width: 30px;
        height: 30px;
        margin-right: 10px;
        path {
          stroke: $black;
          stroke-width: 1.9;
        }
      }
    }
  
    &__clear {
      display: flex;
      align-items: center;
      cursor: pointer;
  
      span {
        display: inline-block;
        margin-left: 7px;
        color: #b6b6b6;
        font-size: 18px;
      }
  
      span,
      svg,
      path {
        transition: all $duration ease-in-out;
      }
  
      &:hover {
        svg {
          path {
            stroke: darken($color: #b6b6b6, $amount: 50);
          }
        }
        span {
          color: darken($color: #b6b6b6, $amount: 50);
        }
      }
    }
  
    &__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      border-top: 1px solid $gray-line;
      padding-top: 30px;
      margin-top: 30px;
  
      &-img {
        display: flex;
        align-items: center;
        margin-right: 15px;
  
        img {
          width: 80px;
          height: 80px;
        }
      }
  
      &-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
  
        h3 {
          font-weight: bold;
          font-size: 22px;
          line-height: 27px;
          letter-spacing: 0.01em;
        }
  
        p {
          font-size: 18px;
          color: #8d8d8d;
        }
      }
  
      &-count {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 13%;
  
        &-minus {
          svg {
            path:first-of-type {
              display: none;
            }
          }
        }
  
        b {
          font-size: 22px;
        }
      }
  
      &-price {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 33%;
  
        b {
          font-weight: bold;
          font-size: 22px;
          letter-spacing: 0.01em;
        }
      }
  
      &-remove {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 4%;
  
        .button {
          border-color: darken($color: $gray-line, $amount: 10);
        }
  
        svg {
          transform: rotate(45deg);
  
          path {
            fill: darken($color: $gray-line, $amount: 15);
          }
        }
  
        .button {
          svg {
            width: 11.5px;
            height: 11.5px;
            position: relative;
          }
          &:hover,
          &:active {
            border-color: darken($color: $gray-line, $amount: 80);
            background-color: darken($color: $gray-line, $amount: 80);
          }
        }
      }
    }
    &__bottom {
        margin: 50px 0;
    
        &-details {
          display: flex;
          justify-content: space-between;
    
          span {
            font-size: 22px;
    
            &:last-of-type {
              b {
                color: $orange;
              }
            }
          }
        }
    
        &-buttons {
          display: flex;
          justify-content: space-between;
          margin-top: 40px;
    
          .go-back-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 210px;
    
            border-color: darken($color: $gray-line, $amount: 10);
    
            span {
              color: darken($color: $gray-line, $amount: 20);
              font-weight: 500;
              font-weight: 600;
            }
    
            &:hover {
              background-color: darken($color: $gray-line, $amount: 90);
              border-color: darken($color: $gray-line, $amount: 90);
    
              span {
                color: $gray-line;
              }
            }
    
            svg {
              margin-right: 12px;
              path {
                fill: transparent;
                stroke-width: 2;
              }
            }
          }
    
          .pay-btn {
            font-size: 16px;
            font-weight: 600;
            width: 210px;
            padding: 16px;
          }
        }
      }
    
      &--empty {
        margin: 0 auto;
        width: 560px;
        text-align: center;
    
        h2 {
          font-size: 32px;
          margin-bottom: 10px;
        }
    
        p {
          font-size: 18px;
          line-height: 145.4%;
          letter-spacing: 0.01em;
          color: #777777;
        }
    
        icon {
          position: relative;
          top: 2px;
        }
    
        img {
          display: block;
          width: 300px;
          margin: 45px auto 60px;
        }
    
        .button--black {
          padding: 12px 0 14px;
          width: 230px;
          margin: 0 auto;
          font-weight: 600;
          font-size: 18px;
        }
      }
      @media(max-width: 600px){
        width: 100%;
      }
    }
    .cart__item-box{
      display: flex;
      align-items: center;
      width: 40%;
    }


    @media(max-width: 840px){
      .cart__item-price{
         width: 120px;
      }
    }
    @media(max-width: 620px){
      .cart{
        padding: 20px;
      }
      .cart__item-box{
        width: 30%;
        display: block;
        & .cart__item-info h3{

          font-size: 16px;
          line-height: 18px;
        }
      }
      .cart__bottom-buttons{
        display: block;
        & .go-back-btn {
          width: 100%;
          margin-bottom: 10px;
        }
        & .pay-btn {
          width: 100%;
         }
      }
    }
    @media(max-width: 500px){
      .cart__item-price{
        display: none;
      }
      .cart__bottom-details span {
          font-size: 17px;
      }
      .cart .content__title{
        font-size: 25px;
      }
    }