.header__button{
    display: inline-block;
    background-color: #fe5f1e;
    border-radius: 30px;
    padding: 10px 20px;
    min-width: 100px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    border: 1px solid transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;

    &--cart {
    display: flex;
    align-items: center;
    line-height: 23px;
    padding: 12px 25px;
    color: #fff;

    svg {
      margin-right: 8px;
      margin-bottom: 1px;
    }

    span {
      font-weight: 600;
      font-size: 16px;
      color: #fff;
    }
    
  }
}

.button__delimiter {
    width: 1px;
    height: 25px;
    background-color: rgba(255, 255, 255, 0.25);
    margin-left: 14px;
    margin-right: 14px;
}

@media(max-width:715px){
  .header__button {
    margin-right: 70px;
  }
}