.chefs{
    padding-bottom: 50px;
    padding-top: 30px;
    &__subtitle{
        font-weight: 600;
        font-size: 22px;
        line-height: 27px;
        color: #FFCC00;
        margin-bottom: 3px;
        text-align: center;
    }
    &__title{
        margin-bottom: 25px;
        font-weight: 600;
        font-size: 45px;
        line-height: 73px;
        color: #000;
        text-align: center;
    }
    &__line{
        border: 3px solid #FFCC00;
        width: 205px;
        margin: 0 auto 50px auto;
    }
    &__inner{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;
    }
    &__item{
        width: 270px;
        &-img{
            margin-bottom: 17px;
        }
        &-name{
            font-size: 24px;
            line-height: 36px;
            color: #231900;
            font-weight: 600;
            margin-bottom: 10px;
        }
    }
    @media(max-width: 1200px) {
        &__inner{
            grid-template-columns: repeat(2, 1fr);
        }
        &__item{
            width: 100%;
        }
    }
    @media(max-width: 650px) {
        &__inner{
            grid-template-columns: repeat(1, 1fr);
            text-align: center;
        }
        &__item{
            width: 100%;
        }
    }
}
