.footer{
    margin-top: auto;
    padding: 20px 0;
    &__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    }
    &__social{
        display: flex;
        align-items: center;
        &-item{
            margin-right: 20px;
        }
    }
}

