.top{
    height: 100vh;
    padding-top: 25vh;
    position: relative;
    transform-style:inherit;
    overflow: hidden;
    background-image: url('https://pizza-man-61510.web.app/static/media/1.39618b86.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    &::after{
        background-color: rgba(0,0,0,.7);
        background-position: 50%;
        background-size: cover;
        background-attachment: fixed;
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
    }
    &__inner{
        z-index: 4;
        position: relative;
    }
    &__logo{
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        &-img{
            width: 80px;
            margin-right: 20px;
        }
        &-title{
            color: #fff;
            font-size: 42px;
            line-height: 48px;
        }
    }
    &__name{
        font-size: 45px;
        line-height: 55px;
        color: #fff;
        margin-bottom: 10px;
        font-style: italic;

    }
    &__title{
        font-size: 65px;
        line-height: 73px;
        color: #fff;
        font-weight: 400;
        font-style: italic;
        margin-bottom: 30px;
    }
    &__btn{
        color: rgb(255, 255, 255);
        background-color: rgb(114, 76, 249);
        border: none;
        border-radius:10px;
        padding: 13px 26px;
        font-size: large;
        margin-left: 5px;
        transition: all 0.15s ease-in-out 0s;
        outline: none !important;
        font-style: italic;
        font-size: 24px;
        line-height: 28px;
        &:hover{
            background-color: rgb(71 41 180);
        }
    }
   @media(max-width:700px){
    &__name{
        font-size: 32px;
        line-height: 40px;
    }
    &__title{
        font-size: 45px;
        line-height: 50px;
    }
   }
   @media(max-width:500px){
    &__name{
        font-size: 25px;
        line-height: 30px;
    }
    &__title{
        font-size: 37px;
        line-height: 42px;
    }
    &__logo{
        &-title{
            font-size: 25px;
            line-height: 34px;
        }        
        &-img{
            width: 60px;
            margin-right: 10px;
        }
    }
   }
}