.container{
    max-width: 1200px;
    padding: 10px;
    margin: 0 auto;
}

.header{
    padding: 10px 0;
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__menu{
        &-list{
            display: flex;
            align-items: center;
        }
        &-item{
            text-transform: uppercase;
            font-size: 18px;
            &:not(:last-child){
                margin-right: 30px;
            }
        }
    }
    
}
.header__button{
    display: inline-block;
    background-color: #fe5f1e;
    border-radius: 30px;
    padding: 10px 20px;
    min-width: 100px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    border: 1px solid transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;

    &--cart {
    display: flex;
    align-items: center;
    line-height: 23px;
    padding: 12px 25px;
    color: #fff;

    svg {
      margin-right: 8px;
      margin-bottom: 1px;
    }

    span {
      font-weight: 600;
      font-size: 16px;
      color: #fff;
    }
    
  }
}

.button__delimiter {
    width: 1px;
    height: 25px;
    background-color: rgba(255, 255, 255, 0.25);
    margin-left: 14px;
    margin-right: 14px;
}
.menu{
   &__inner{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 45px;
    margin-top: 10px;
   }
    
    &__item{
        background: rgba(255, 255, 255, 0.56);
        text-align: center;
        height: 400px;
        -webkit-box-shadow: 0px 3px 12px -3px rgba(0,0,0,0.56);
        -moz-box-shadow: 0px 3px 12px -3px rgba(0,0,0,0.56);
        box-shadow: 0px 3px 12px -3px rgba(0,0,0,0.56);
        &-img{
            max-width: 364px;
            height: 242px;
        }
        &-title{
            font-size: 24px;
            line-height: 26px;
            margin-top: 20px;
            margin-bottom: 20px;
            font-weight: 300;
        }
        &-btn{
            display: inline-block;
            border: none;
            padding: 20px 40px;
            background: #fe5f1e;
            color: #fff;
            border-radius: 10px;
            cursor: pointer;
            transition: all 0.3s;
            font-size: 18px;
            font-weight: 600;
            &:hover{
                background: #ffe006;
                color: #000;
                transition: all 0.3s;
            }
        }
    }
}
.WhyWe{
    margin-top: 50px;
    height: 500px;
    background-image: url('../../public/images/bg.jpg');
    position: relative;
    z-index: -2;
    margin-bottom: 50px;
    padding-top: 70px;
    &::after{
        background: rgba(0,0,0, 0.7);
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        left: 0;
        bottom: 0;
    }
    &__title{
        color: #fff;
        font-weight: 300;
        font-size: 35px;
        line-height: 40px;
        text-align: center;
    }
    &__inner{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 60px;
        margin-top: 50px;
    }
    &__item{
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        &-img{
            width: 100px;
        }
        &-title{
            color: #fff;
            margin-bottom: 15px;
            font-size: 26px;
        }
        &-text{
            color: #fff;
        }
    }
}

.about{
    padding-top: 30px;
    padding-bottom: 50px;
    &__title{
        text-align: center;
        margin-bottom: 50px;
        font-size: 40px;
        line-height: 45px;
        font-weight: 400;
    }
    &__inner{
        display: flex;
    }
    &__img-box{
        -webkit-box-shadow: 2px 3px 16px -1px rgba(0,0,0,0.75);
        -moz-box-shadow: 2px 3px 16px -1px rgba(0,0,0,0.75);
        box-shadow: 2px 3px 16px -1px rgba(0,0,0,0.75);
        margin-right: 40px;
        width: 645px;
        padding: 10px;
        height: 645px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__content{
        font-size: 20px;
        line-height: 24px;
    }
}
.chefs{
    padding-bottom: 50px;
    padding-top: 30px;
    &__subtitle{
        font-weight: 600;
        font-size: 22px;
        line-height: 27px;
        color: #FFCC00;
        margin-bottom: 3px;
        text-align: center;
    }
    &__title{
        margin-bottom: 25px;
        font-weight: 600;
        font-size: 45px;
        line-height: 73px;
        color: #000;
        text-align: center;
    }
    &__line{
        border: 3px solid #FFCC00;
        width: 205px;
        margin: 0 auto 50px auto;
    }
    &__inner{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;
    }
    &__item{
        width: 270px;
        &-img{
            margin-bottom: 17px;
        }
        &-name{
            font-size: 24px;
            line-height: 36px;
            color: #231900;
            font-weight: 600;
            margin-bottom: 10px;
        }
    }
}

.footer{
    margin-top: auto;
    padding: 20px 0;
    &__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    }
    &__social{
        display: flex;
        align-items: center;
        &-item{
            margin-right: 20px;
        }
    }
}

