@import './Blocks/header';
@import './Blocks/top';
@import './Blocks/buttons';
@import './Pages/menu';
@import './Blocks/whyWe';
@import './Blocks/chefs';
@import './Blocks/footer';
@import './Blocks/about';
@import './Pages/delivery';
@import './Pages/contacts';

.container{
    max-width: 1200px;
    padding: 10px;
    margin: 0 auto;
}
.wrapper__content{
    padding-top: 7.2vh;
}
.payPage__container{
    padding-top: 40px !important;
}
.title{
        background: #fe5f1e;
        padding: 10px 25px;
        font-size: 20px;
        width: 100px;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        color: #fff;
        font-weight: 500;
        border-radius: 5px;
}

@media(max-width:550px){
    .title{
        margin-left: auto;
        margin-right: 0;
    }
}
.main{
    height: 100%;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: auto;
    transform-style: preserve-3d;
}




